* {
    padding: 0;
    margin: 0;    
}
:root {
    --cor-secundaria: #9e9ab5;
    --cor-primaria: #f5f3fe;
    --bg-gradient-body:linear-gradient(to right, #242134, #3f386b );
    --bg-gradient-second:linear-gradient(to right, #4451c3, #a488ef);
    --bg-gradient-second-inverso:linear-gradient(to right,#a488ef, #4451c3);
    --font-size-title: 2.5rem;
}
body {
    background-image: var(--bg-gradient-body);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100vw;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.button {
    text-decoration: none;
    padding: 20px 45px;
    color: var(--cor-primaria);
    border-radius: 50px;
    background-image: var(--bg-gradient-second-inverso);
    margin-right: 20px;
    cursor: pointer;
}
.button-empty {
    background-color: transparent;
    color: var(--cor-secundaria);
    background-image: none;
    border: 2px solid #c1c1c1;
    cursor: pointer;
}
.button--filter {
    font-size: 1rem;
    padding: 20px 30px;
    cursor: pointer;
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header--logoarea {
    display: flex;
    align-items: center;
}
.header--logo{
    height: 30px;
    width: 30px;
    background-color: #5553ce;
    border-radius: 15px;
    position: relative;
}
.header--logo-quadrado {
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background-color: #000;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.header--logotext {
    margin-left: 5px;
    color: var(--cor-primaria);
    font-size: 1.4rem;
}
.header--menu {
    display: flex;
    text-decoration: none;
}
.header--menu li,
.header--menu a {
    text-decoration: none;
    list-style: none;
    color: var(--cor-secundaria);
    font-weight: bold;
    margin-left: 10px;
}

.header--user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    height: 40px;
    background-color: var(--cor-secundaria);
    border-radius: 50px;
}
.header--user a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.foto-user {
    height: 30px;
    width: 30px;
    border-radius: 35px;
    margin-left: 5px;
    object-fit: cover;
}
.foto-menu {
    margin-right: 8px;
    margin-bottom: 2px;
    height: 25px;
}


.home--grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    grid-template-areas:
    "home--text home--ilustration"
    "home--buttons home--ilustration"
    ;
}
.home--text {
    grid-area: home--text;
}
.home--ilustration {
    grid-area: home--ilustration;
}
.home--buttons {
    grid-area: home--buttons;
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin-top: 80px;
}

.text-title {
    color: var(--cor-primaria);
    font-size: var(--font-size-title);
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 20px;
}
.text-second {
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 400; 
    line-height: 1.5rem;
    margin-bottom: 20px;   
}


.home--right--background {
    width: 100%;
    position: relative;
    background-image: var(--bg-gradient-second);
    height: 100%;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.home--right--robotimg {
    position: absolute;
    width: inherit;
    height: inherit;
}
.home--right--infoarea {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 50px;
    margin-bottom: 10px;
}
.home--right--foto-avatar {
    height: 50px;
    width: 50px;
    border-radius: 35px;
    margin-left: 5px;
}
.home--right--info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.home--right--user-name {
    color: var(--cor-primaria);
    font-weight: bold;
}
.home--right--user-desc {
    color: #a488ef;
    font-weight: 600;
    font-size: 1rem;
}

.details--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "numbers text"
    ;
    height: 100px;
    margin-top: 50px;
}

.details--area {
    grid-area: numbers;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 450px;
}
.details--number {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.details--number-item {
    color: var(--cor-primaria);
    font-size: var(--font-size-title);
    font-weight: 400;
}

.details--text {
    grid-area: text;
    color: var(--cor-primaria);
    text-align: right;
    line-height: 5rem;
}


/*.collection {
    margin-top: 50px;
}
.collection--top {
    display: flex;
    justify-content: space-between;
}
.collection--top-left {
    color: var(--cor-primaria);
    font-size: var(--font-size-title)
}
.collection--top-right {

}
.collection--filter-drop {

}
.filter-drop--content {
    display: none;
}
.drop--item {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: var(--cor-primaria);
}
.drop--item:hover {
    background-color: var(--cor-secundaria);
    border-radius: 20px;
}
.collection--top-right:hover .filter-drop--content{
    display: block;
}

.grid--collection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px;
}
.collection--cards {
    background-color: violet;
}*/

.collection--grid {
    margin-top: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "collect_text filter_drop"
    "cards cards"
    ;
}
.collection--text {
    grid-area: collect_text;
    color: var(--cor-primaria);
    font-size: var(--font-size-title)
}
.collection--filter-drop {
    grid-area: filter_drop;
    position: relative;
    justify-self: end;
}
.collection--cards {
    grid-area: cards;
    display: flex;
    justify-content: space-evenly;
}
.filter-drop--content {
    display: none;
    position: absolute;
    width: 100px;
}
.drop--item {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: var(--cor-primaria);
}
.drop--item:hover {
    background-color: var(--cor-secundaria);
    border-radius: 20px;
}
.collection--filter-drop:hover .filter-drop--content{
    display: block;
}

.collection--cards-item {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.collection--cards-item a {
    text-decoration: none;
}
.cards--img {
    height: 200px;
    width: 200px;
    padding: 10px;
}
.cards-buttons {
    display: flex;
    justify-content: space-between;
}
.button-cards {
    margin: 10px;
    padding: 10px 20px;
    color: var(--cor-primaria);
    border-radius: 20px;
    background-image: var(--bg-gradient-second-inverso);
    border: none;
    cursor: pointer;
}
.button-cards-empty {
    background-color: transparent;
    color: var(--cor-secundaria);
    background-image: none;
    border: 2px solid #c1c1c1;
    cursor: pointer;
}
@media (min-width:769px) and (max-width: 1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width:850px) {
    .home--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "home--text home--ilustration home--ilustration"
        "home--buttons home--ilustration home--ilustration"
        ;
    }
    :root {
        --font-size-title: 2.3rem;
    }
    .home--buttons {
        width: 400px;
    }
    .button {
        padding: 15px 40px;
    }
    
    
}

@media (max-width:768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    :root {
        --font-size-title: 1.8rem;
    }
    .collection--grid {
        grid-template-areas: 
    "collect_text filter_drop"
    "cards cards"
    "cards"
    ;
    }
    .text-second {
        font-size: 0.9rem;
    }
}

@media (max-width:730px) {
    .home--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "home--text home--text"
        "home--ilustration home--ilustration"
        "home--buttons home--buttons"
        ;
    }
    :root {
        --font-size-title:3rem;
    }
    .text-second {
        font-size: 1.2rem;
    }
    .home--right--background {
        width: 90%;
        margin: auto;
    }
    .home--right--robotimg {
        position: relative;
        height: 300px;
        width: 100%;
    }
    .home--buttons {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    

    .header--menuarea {
        display: none;
    }
    
    .details--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "numbers numbers"
        ;
        height: 100px;
        margin-top: 50px;
    }
    .details--text {
        display: none;
    }
    .details--area {
        margin: auto;
    }

    .collection--grid {
        margin-top: 50px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "collect_text collect_text filter_drop"
        "cards cards cards"
        ;
    }
    
    
    .collection--cards {
        flex-direction: column;
        align-items: center;
    }
    .collection--cards-item {
        height: 250px; 
        margin-top: 20px;
        background-image: var(--bg-gradient-second-inverso);
    }
    .cards--img {
        height: 70%;
    }
}

@media (max-width:486px) {
    :root {
        --font-size-title:2rem;
    }
    .text-second {
        font-size: 1rem;
    }
    .button--filter {
        padding: 10px;
    }
    .details--area {
        width: 80%;
    }
}

@media  (max-width:415px) {
    .home--ilustration {
        width: 80%;
    }
    .home--text {
        width: 80%;
    }
    .home--buttons {
        width: 80%;
        margin-left: 0;
        margin-right: 0;
    }
    .button {
        padding: 10px;
        text-align: center;
    }
}
/*@media (max-width: 1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .home--grid {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    .text-title {
        font-size: 2rem;
    }
    .buttons-area {
        width: 400px;
    }
    .collection--grid {
        grid-template-columns: 1fr 1fr;
    }
    .collection--filter-drop {
    }
}*/

/*@media (max-width:805px) {

    .container {
        padding: 20p;
    }
    .filter-drop--content {
        width: 50px;
        background-color: violet;
    }
}*/